extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent  
	div(id="fullpage")
		+header()
			+top-line()
		mixin section(i,t,p)
			+b.section.fp-scrollable&attributes(attributes)
				+e.inner
					.container
						if block
							block
						else
							+e.title
								h2= t
							+e.row.row
								+e.col.col-lg-6
									+e.img-wrap
										.img-bot
											img.res-i(src="#" data-src=`img/@2x/logo-${i}.png`, alt="")
										.img-top
											img.res-i(src="#" data-src=`img/@2x/logo-${i}.png`, alt="")
								+e.col.col-lg-6
									p= p
										a.animate-dots.saving(href="#")
											span .
											span .
											span .
											span .
		+section("1","Креатив. Маркетинг. Реклама.","Креативный подход и полный цикл маркетингового обслуживания. Стратегия и тактика, брендинг и айдентика, как разные, но тесно связанные между собой понятия. Все это можно найти, нажав на многоточие справа")
		+section("2","Лучшее из удовольствий!","Кожгалантерея, обладание которой, доставляет больше наслаждения, чем героин. Четкие нити, пронзающие идеально обработанную кожу, создают образ исключительного и завершенного изделия, способного достучаться до сердец самых искушенных гурманов. А ценовая политика бренда не оставляет шанса конкурентам")
		+section("3","Консалтинг и криптовалюты.","Все для того, чтобы зарабатывать, а не терять. Удаленный консалтинг и аудит по направлениям холдинга и добычи криптовалют. Для клиентов компании организовано техническое обслуживание ремонт майнинг-ферм и других специализированных устройств")
		+section("4","Кожа. Обувь. Стиль.","Репутация торговой марки говорит сама за себя – производство позволяет осуществлять пошив под своим брендом только с использованием материалов наивысшего качества, это закон. Это далеко не последнее достоинство,- в Республике Беларусь находится единственное дизайнерское подразделение, которое не только строго соблюдает фундаментальные основы производства, но и добавляет изюминку уникальности и непревзойденности стиля в каждую созданную пару")
		+section("5","Здесь могла быть Ваша реклама.","......................... .................... ..................... ..................... ................. ..................... .................. ........................")
		+section("6","Итальянский взгляд на стиль.","Премиальная телячья кожа, соответствие самым модным мировым тенденциям и высокое качество производственных линий, расположенных исключительно на территории Италии. Постоянно обновляемый ассортимент и сохранение традиционного взгляда на пошив классических изделий, позволили братьям Элио и Давиду Контильяно, укрепиться от семейного ателье до международно-известной корпорации, покорившей и вышедшей далеко за пределы рынка Европы")
		+s-form


